<form [formGroup]="assetForm" class="width500">
  <h2>{{data.addOrEdit}} Asset</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label>
    </div>
    <div class="col-md-6">
      <input id="name" type="text" formControlName="name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      @if(assetForm.get('name')?.touched) {
        @if(assetForm.get('name')?.hasError('required')) {
          <p class="error">Name is required.</p>
        } @else if(assetForm.get('name')?.hasError('nameInUse')) {
          <p class="error">Name is in use.</p>
        } @else {
          <p></p>
        }
      }
      @else {
          <p></p>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="type">Type</label>
    </div>
    <div class="col-md-6">
      <select id="type" formControlName="type">
        <option [ngValue]="null">------- Type -------</option>
        @for (assetType of data.assetTypes; track assetType.assetTypeId) {
          <option [ngValue]="assetType.assetTypeId">{{assetType.name}}</option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="isPercent">Is Percent</label>
    </div>
    <div class="col-md-6">
      <input id="isPercent" type="checkbox" formControlName="isPercent" />
    </div>
  </div>
</form>
