input {
  width: 200px;
}

label {
  margin-left: 10px;
}

select {
  width: 210px;
}

p.error {
  margin: 0px;
}

input[type='checkbox'] {
  height: 20px;
}

input[name='percentage'] {
  width: 100px;
  text-align: right;
}

input[name='amount'] {
  width: 150px;
}

.margin10 {
  margin-left: 10px;
}

.marginNegative10 {
  margin-left: -10px;
}

button {
  margin-bottom: 10px;
  margin-right:10px;
}
