<div class="width500">
  <h2>{{data.addOrEdit}} Asset</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label>
    </div>
    <div class="col-md-6">
      <input id="name" type="text" [(ngModel)]="asset.name" [disabled]="data.addOrEdit === 'Edit'" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      @if (nameValidationError) {
        <p class="error">{{nameValidationError}}</p>
      }
      @else {
          <p></p>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="type">Type</label>
    </div>
    <div class="col-md-6">
      <select id="type" [(ngModel)]="asset.type">
        <option [ngValue]="null">------- Type -------</option>
        @for (assetType of data.assetTypes; track assetType.assetTypeId) {
          <option [ngValue]="assetType.assetTypeId">{{assetType.name}}</option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="isPercent">Is Percent</label>
    </div>
    <div class="col-md-6">
      <input id="isPercent" type="checkbox" [(ngModel)]="asset.isPercent" [disabled]="asset.type !== null"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="value">Value</label>
    </div>
    <div class="col-md-6">
      <input id="value" type="text" [(ngModel)]="asset.totalValue" appCurrencyFormat  [disabled]="isValueDisabled()"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      @if (valueValidationError) {
        <p class="error">{{valueValidationError}}</p>
      }
      @else {
          <p></p>
      }
    </div>
  </div>
  @if(asset.type === null) {
    <div>
    @for (assetComponent of asset.components; track assetComponent.assetTypeId) {
      <div class="row">
        <div class="col-md-5">
          <label for="amount">{{assetComponent.name}}</label>
        </div>
        <div class="col-md-3">
          <input id="percentage" type="text" [(ngModel)]="assetComponent.percentage" appPercentFormat [disabled]="!asset.isPercent"/>
        </div>
      </div>
    }
    </div>
  }
</div>
