<div class="width500">
  <h2>Add Liability</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label>
    </div>
    <div class="col-md-6">
      <input id="name" type="text" [(ngModel)]="liability.name"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      @if (nameValidationError) {
        <p class="error">{{nameValidationError}}</p>
      } @else {
        <p></p>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="value">Value</label>
    </div>
    <div class="col-md-6">
      <input id="value" type="text" [(ngModel)]="liability.value" appCurrencyFormat />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      @if (valueValidationError) {
        <p class="error">{{valueValidationError}}</p>
      } @else {
        <p></p>
      }
    </div>
  </div>
   <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <button (click)="onClickOk()">OK</button>
      <button (click)="onClickCancel()">Cancel</button>
    </div>
  </div>
</div>
