p {
  margin: 0px;
}

p.currency {
  text-align: right;
}

.width20 {
  width: 20%;
}

.center {
  text-align: center;
}

.font1 {
  font-size: 1rem;
}

.width20 .col-md-6 {
  margin-right: -10px;
}

.row.font1 p {
  margin-left: 10px;
}

p.numeric {
  text-align: right;
}

.red {
  color: red;
}
