<div class="width500">
  <h2>Set your asset targets</h2>
  <div class="row">
    <div class="col-md-6 bold paddingleft10">Asset Type</div>
    <div class="col-md-6 bold">Percentage</div>
  </div>
  @for (target of targetInputModels; track target.assetTypeId) {
    <div class="row">
      <div class="col-md-6 paddingleft10">{{target.name}}</div>
      <input placeholder="0" type="number" min="0" max="100" [(ngModel)]="target.percentage" (blur)="validate()"/>&nbsp;%
    </div>
  }
  <div class="row">
    <div class="col-md-10">
      @if (!validate()) {
      <p class="error">{{errorMsg()}}</p>
      }
    </div>
    <div class="col-md-2">
      <button class="right-button" (click)="onClick()">OK</button>
    </div>
  </div>
</div>
