.row .col-md-12 {
  display: flex;
  width: 100%;
  margin-right: 10px;
}

.row .col-md-12 a {
  display: block;
  margin-left: auto;
}

hr {
  margin-right: 10px;
}

.col-md-7 {
  margin-left: 30px;
}

ngx-spinner p {
  color: white;
}
