<div class="container">
  <h1> Harnish Balance Sheet</h1>
  <button>New</button>
  <p>Show
    <select>
      <option value="12">12</option>
      <option value="24" selected="true">24</option>
      <option value="60">60</option>
    </select> entries
  </p>
  <div class="row">
    <div class="col-md-5">
      @for (model of balanceSheetDateModels(); track model.balanceSheetId) {
      <div class="row">
        <div class="col-md-12">
          <a href="'~/details/' + model.balanceSheetId.toString()">{{model.date | date:'longDate'}}</a>
        </div>
      </div>
    }
    </div>
  </div>
  <ngx-spinner type="ball-beat"></ngx-spinner>
</div>
