<div class="container">
  <h1> Harnish Balance Sheet</h1>
  <a href="~/create">New</a>
  <p>Show
    <select>
      <option value="12">12</option>
      <option value="24" selected="true">24</option>
      <option value="60">60</option>
    </select> entries
  </p>
  <div class="row">
    <div class="col-md-5">
      @for (model of balanceSheetDateModels(); track model.balanceSheetId) {
      <div class="row">
        <div class="col-md-12">
          <a href="'~/details/' + model.balanceSheetId.toString()" style="display:block;margin-left:auto;">{{model.date | date:'longDate'}}</a>
        </div>
      </div>
      <hr />
    }
    </div>
    <div class="col-md-7">
      <div>
      @if (this.liabilitiesSource().length > 0) {
          <jqxChart
            [width]="'90%'"
            [height]="500"
            [source]="liabilitiesSource()"
            [seriesGroups]="seriesGroup1"
            [xAxis]="xAxis1"
            [colorScheme]="'scheme01'"
            [title]="'Liabilities'"
            [description]="''">
        </jqxChart>
      }
      </div>
      <br />
      <div>
      @if (this.netWorthSource().length > 0) {
          <jqxChart
            [width]="'90%'"
            [height]="500"
            [source]="netWorthSource()"
            [seriesGroups]="seriesGroup2"
            [xAxis]="xAxis2"
            [colorScheme]="'scheme04'"
            [title]="'Net Worth'"
            [description]="''">
        </jqxChart>
      }
    </div>
  </div>
  <ngx-spinner type="ball-beat"><p>Loading...</p></ngx-spinner>
</div>
