body {
  background-color: grey;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  text-align: center;
  padding-top: 10px;
}

h2 {
  text-align: center;
}

.container {
  background-color: #fff;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

button {
  font-size: 1.5rem;
}

select {
  font-size: 1.5rem;
}

.row {
  display: flex;
  padding-top: 5px;
}

.col-md-12 {
  flex: 0 0 16.67%;
  max-width: 16.67%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}

.bold {
  font-weight: bold;
}

.width500 {
  width: 500px;
}

.paddingleft10 {
  padding-left: 10px;
}

.mat-mdc-dialog-surface {
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

input {
  font-size: 1.5rem;
}

input[type="number"] {
  text-align: right;
}

.right-button {
  float: right;
  margin: 10px;
  width: 70px;
}

.error {
  color: red;
  padding-left: 10px;
  font-size: 1rem;
}
