<div class="row">
    <div class="col-md-6">
        <div class="bold center block">Assets</div>
        @for (asset of getAssets(); track asset.name) {
          <div class="row">
            <div class="col-md-5">{{asset.name}}</div>
            <div>
              $&nbsp;<input placeholder="0" type="number" min="0" [ngModel]="asset.totalValue.toFixed(2)" name="totalValue"/>
            </div>
          </div>
        }
    </div>
    <div class="col-md-6">
      <div class="bold center">Liabilities</div>
    </div>
</div>
