<div class="row">
    <div class="col-md-6">
        <div class="bold center block">Assets</div>
        @for (asset of getAssets(); track asset.name) {
          <div class="row">
            <div class="col-md-5">{{asset.name}}</div>
            <div>
              <input type="text" [(ngModel)]="asset.totalValue" name="totalValue" appCurrencyFormat />
              <button><i class="fa fa-edit"></i></button>
              <button><i class="fa fa-trash"></i></button>
            </div>
          </div>
        }
    </div>
    <div class="col-md-6">
      <div class="bold center">Liabilities</div>
    </div>
</div>
